{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- МЕТА -->
    <title>AI Pet Name Generator</title>
    <meta name="description"
        content="AI Pet Name Generator is an AI-powered web app that helps you find the perfect name for your furry friend. With a simple form and a click of a button, generate suggested names that are perfect for your pet's personality and your preferences.">
    <meta name="keywords"
        content="AI, pet names, generator, web app, suggested names, personality, preferences, furry friend, perfect name">

    <!-- Image 600х315, less 8Мб -->
    <meta content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'cover.png' %}">
    <meta
        content="Discover the perfect name for your furry friend with AI-Powered Pet Names! Our pet name generator uses advanced algorithms to generate unique and creative names for your pets.">
    <meta content="Facebook ID">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AvicennaVitaly">
    <meta name="twitter:title" content="AI Pet Name Generator">
    <meta name="twitter:description"
        content="Discover the perfect name for your furry friend with AI-Powered Pet Names! Our pet name generator uses advanced algorithms to generate unique and creative names for your pets.">
    <meta name="twitter:creator" content="@AvicennaVitaly">
    <!-- Image 280х150, less 1Мб -->
    <meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'cover.png' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>